@import "/src/styles/shared";

.wrapper {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    transition: .1s;
    cursor: pointer;

    &:hover {
        background-color: var(--color-menu-panel-button-bg-hover);
    }
}

.text {
    @extend %text-ellipsis;
}

.icon {
    margin-right: 1rem;
    display: flex;
    color: var(--color-menu-panel-icon);

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-menu-panel-icon);
    }
}
