.header {
    text-align: center;
    padding: 2.5rem 0 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    word-break: break-word;
}

.buttons {
    border-radius: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 60px;
    background-color: var(--color-drawer-paper-button-bg);
    color: var(--color-drawer-paper-button);

    svg {
        color: var(--color-drawer-paper-button-icon);
    }

    span {
        margin-left: 1rem;
    }

    &.danger {
        color: var(--color-drawer-paper-button-danger);

        svg {
            color: inherit;
        }
    }

    &:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    &:not(:last-child) {
        border-bottom: 1px solid var(--color-drawer-paper-button-divider);
    }
}
