@import "/src/styles/shared";

.wrapper {
    height: 100%;
    transition: .3s;
    margin: 0 -1rem;
}

.list {
    user-select: none;
}

.itemWrapper {
    &:not(:last-child) {
        border-bottom: 1px solid var(--color-shop-item-border);
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    min-height: 70px;
    background-color: var(--color-shop-item-bg);
    transition: .2s;
    cursor: pointer;

    .left {
        margin-left: -50px;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-right: 0.5rem;
        transition: .2s;
        @extend %text-ellipsis;
    }

    .right {
        position: relative;

        .price {
            position: absolute;
            top: -12px;
            right: 0;
            color: var(--color-text-secondary);
            font-size: 14px;
            text-wrap: nowrap;
        }
    }

    .amount {
        color: var(--color-text-secondary);
    }

    &.done {
        background-color: var(--color-bg);

        .left {
            color: var(--color-text-disabled);
        }
    }

    &.editMode {
        .left {
            margin-left: 0;
        }
        .dragAction {
            opacity: 1;
            visibility: visible;
        }
        .actions {
            opacity: 1;
            visibility: visible;
        }
    }

    .dragAction {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: .1s ease-in-out;
        touch-action: none;
    }

    .actions {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: var(--color-text-disabled);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: .1s;
        transition-timing-function: ease-in-out;
    }

    &Enter {
        opacity: 0;
    }
    &EnterActive {
        opacity: 1;
        transition: 300ms;
    }
    &Exit {
        animation: exit 0.7s;
    }
    &ExitActive {
        opacity: 0;
    }

    @keyframes exit {
        0% {
            opacity: 1;
            max-height: 80px;
        }
    
        50% {
            opacity: 0;
            transform: translateX(-100%);
            max-height: 80px;
        }
    
        100% {
            opacity: 0;
            transform: translateX(-100%);
            max-height: 0;
        }
    }
}

.loading {
    height: 100%;
}

.noItems {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    animation: showNoItems 300ms;

    &Icon {
        width: 64px;
        height: 64px;
        margin-bottom: 12px;
    }
}

@keyframes showNoItems {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}