.paper {
    width: calc(100% - 3rem);
    max-width: 450px;
    padding: 1.5rem;
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 -0.75rem;

    // svg {
    //     width: 1.5rem;
    //     height: 1.5rem;
    // }
    
    .title {
        margin-left: 0.5rem;
        font-weight: 500;
        font-size: 1.2rem;
    }
}

.content {
    margin: 1.5rem 0;
}

.divider {
    display: flex;
    flex-grow: 1;
}

.btn {
    width: 100%;
}