@import "/src/styles/shared";

.header {
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--color-header-bg);
    box-shadow: var(--shadow-header);
}

.container {
    padding: 0 0.5rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    max-width: 70%;
}

.title {
    margin: 0 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    @extend %text-ellipsis;
}
