.loading {
    animation: delay 0.4s;

    svg {
        width: 48px;
        transform-origin: center;
        animation: rotate4 2s linear infinite;
    }
       
    circle {
        fill: none;
        stroke: var(--color-primary);
        stroke-width: 3;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash4 1.5s ease-in-out infinite;
    }

    @keyframes delay {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes rotate4 {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes dash4 {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
    
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
    
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }
}

.fillContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.fullWidth {
    display: flex;
    justify-content: center;
    width: 100%;
}

.small {
    svg {
        width: 36px;
    }
}
