

.container,
.panelWrapper {
    height: 100%;
}

.panelWrapper {
    display: flex;
    flex-direction: column;
}

.paper {
    background-color: var(--color-menu-panel-bg);
    color: var(--color-text);
    width: 85%;
    max-width: 300px;
}

.logo {
    padding: 1.5rem 2rem 1.5rem 0.75rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-menu-panel-logo);
    background-color: var(--color-primary);
}

.content {
    margin: 0.5rem 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.lists {
    overflow: auto;
}

.divider {
    height: 1px;
    margin: 0.5rem 0;
    background-color: var(--color-divider);
}

.account {
    margin-top: 0.5rem;
    background-color: var(--color-menu-panel-button-bg-hover);
    cursor: pointer;

    &Login {
        display: flex;
        align-items: center;
        padding: 1.5rem 1rem;
        transition: .1s;
        cursor: pointer;

        &:hover {
            background-color: var(--color-menu-panel-button-bg-hover);
        }

        &Icon {
            margin-right: 1rem;
            display: flex;
            color: var(--color-menu-panel-icon);
        
            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: var(--color-menu-panel-icon);
            }
        }
    }

    &Info {
        display: flex;
        align-items: center;
        padding: 1rem;

        &Avatar {
            margin-right: 1rem;
            width: 40px;
            height: 40px;
        }

        &Text {
            &Primary {
                font-weight: 500;
            }
            &Secondary {
                margin-top: 0.25rem;
                font-size: 0.75rem;
                color: var(--color-text-secondary);
            }
        }
    }
}

.addListButton {
    margin: 1rem;
}
